

<img src="http://petshopboys.co.uk/media/article-images/600/74d6eb8a4ffe6dcd60a0e41ec9474d24.jpg" class="ui medium bordered image" style="margin: 0 auto">


<div class="ui horizontal segments">
    <div class="ui segment">
      <h2>
          <%= Board.find(2).name %> Billboard
      </h2>     
      <p>
        <% if Board.find(2).songs.count < 1 %>
        <%= puts "No songs" %>
        <% else%>
        <%id = Board.find(2).songs.first.artist_id %>
        Top Song:  &nbsp <%= Board.find(2).songs.first.song_name%> &nbsp | &nbsp <%=  Artist.find_by(id: id).artist_name%>
        <% end%>
      </p>
    </div>
    <div class="ui segment">
        <h2>
            <%= Board.find(3).name %>
        </h2>     
        <p>
            <% if Board.find(3).songs.count < 1 %>
            <%= puts "No songs" %>
            <% else%>
          <%id = Board.find(3).songs.first.artist_id%>
          Top Song:  &nbsp <%= Board.find(3).songs.first.song_name%>&nbsp | &nbsp <%=  Artist.find_by(id: id).artist_name%>
          <% end%>
        </p>
    </div>
   