<div class="ui grid">
  <% @artists.sort_by_name.each do |artist| %>
  <div class="sixteen wide mobile eight wide tablet five wide computer column">
    <div class="ui card">
      <div class="image">
        <img src="<%= artist.album_art %>" />
      </div>
      <div class="content">
        <h3>
          <%= artist.artist_name %>
        </h3>
      </div>
      <div class="extra content">
        <%= link_to(artist_path(artist.id)) do %>
        <div class="ui bottom attached button">
            View
        </div>
        <% end %>
        <%= link_to(edit_artist_path(artist)) do %>
        <div class="ui bottom attached button">
            Edit
        </div>
        <% end %>
        <%= link_to(artist_path(artist), method: :delete, data: { confirm: "Are you sure?" }) do %> 
        <div class="ui bottom attached button">
            Delete
        </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
</div>