
<div class="ui card">
    <div class="image">
      <img src="https://robohash.org/<%= @artist.artist_name %>?set=set4" />
    </div>
    <div class="content">
      <p class="header">
        <%= @artist.artist_name %>
      </p>
      <div class="description">
        <i>Genre: </i> <%= @artist.genre %>
        <br />
        <i>Top Song: </i> <%= @artist.songs.sample.name %>
      </div>
    </div>
    <div class="extra content">
      <%= link_to  "All Songs", artist_songs_path(@artist), class:"ui button blue" %>
      <%= link_to "Edit", edit_artist_path(@artist), class: "ui button blue" %> 
      <%# link_to "Back", artist_path, class: "ui button" %>
    </div>
  </div>