
<div class="ui card">
    <div class="image">
      <img src="<%= @artist.album_art %>" />
    </div>
    <div class="content">
      <p class="header">
        <%= @artist.artist_name %>
      </p>
      <div class="description">
        <i>Genre: </i> <%= @artist.genre %>
        <br />
        <i>Top Hit: </i> <%# @artist.songs.find_by(birthday_hit: true).song_name %>
      </div>
    </div>
    <div class="extra content">
        <%= link_to(artist_songs_path(@artist)) do %>
        <div class="ui bottom attached button">
            View Songs
        </div>
        <% end %>
    <div class="extra content">
        <%= link_to(edit_artist_path(@artist)) do %>
        <div class="ui bottom attached button">
            Edit
        </div>
        <% end %>
        <%= link_to(artist_path(@artist), method: :delete, data: { confirm: "Are you sure?" }) do %> 
        <div class="ui bottom attached button">
            Delete
        </div>
        <% end %>
  </div>