<h1 class="ui horizontal divider header">
    <i class="music note icon"></i>
    <%= @song.id ? 'Edit Song' : 'Create Song' %>
  </h1>
<div class="ui form">
<div class="ui form">

  <%= form_with(model: [@artist, @song], local: true, class: "ui form") do |f| %>
  <div class="four fields">
    <div class="field">

      <%= f.label :song_name %>
      <%= f.text_field :song_name, required: true, autofocus: true %>
      <br />
      <br />
      <%= f.label :Billboard %>
      <%= f.select "board_id", options_for_select(@boards.collect {|u| [u.name, u.id] }) %>
    </div>
  </div>
    <br />
    <br />
    <%= f.submit class:"ui button green" %>
    <br />
    <br />
  <% end %>
</div>


<% if @song.id %>
  <%= link_to "Back", artist_songs_path(@artist), class:"ui button blue" %>
  <% else%>
  <%= link_to "Back", artist_path(@artist), class:"ui button blue" %>
  <% end%>



