<h1><%= @song.id ? 'Edit Song' : 'Create Song' %></h1>
<%= form_for [@artist, @song] do |f| %>

  <%= f.label :song_name, "Name" %>
  <%= f.text_field :song_name%>
  <br />
  <br />
  <br />
  <br />
 <%= f.label :board_name, "Billboard" %>
 <%= f.select "board_id", options_for_select(@boards.collect {|u| [u.name, u.id] }) %>
  <br />
  <br />
  <br />
  <br />
  <%= f.submit %>

<% end %>


<% if @song.id %>
  <%= link_to "Back", artist_songs_path(@artist), class:"ui button blue" %>
  <% else%>
  <%= link_to "Back", artist_path(@artist), class:"ui button blue" %>
  <% end%>