<h1 class="ui horizontal divider header">
    <i class="music note icon"></i>
    <%= @artist.artist_name %> Song List
  </h1>
  <br />
<div class="ui feed">
<% @songs.each do |song| %>
<div class="ui small feed">
  <h5 class="ui header"><%= song.song_name %></h5>
  <div class="event">
    <div class="content">
      <p>
        <% if song.board %>
            <% if song.board.user_id == @user_id %>
            Billboard |  That worked
            <% end%>
          <% elsif %>
          There is no board
        <% end%>
      </p>
      <div class="summary">
        <% if rand(0..8) == 1%>
        <%= link_to "More Info", 'https://www.youtube.com/watch?v=dQw4w9WgXcQ' %>
        <% else%>
        <%= link_to  "More Info", artist_song_path(@artist, song) %> 
           <% end%>
        </div>
        <hr />
      </div>
    </div>
  </div>
  <% end %>
<%= link_to "Add a new song", new_artist_song_path(@artist.id), class: "ui button green" %>
<%= link_to "Back", artist_path(@artist.id), class: "ui button blue" %>
<br />
<br />
<br />