<h1><%= @song.name %></h1>
<h3>Released: <%= @song.date_released %></h3>

<%= link_to  "Edit Song", edit_artist_song_path(@artist, @song), class:"ui button blue" %>
<%= link_to  "Delete Song", artist_song_path(@artist, @song),method: :delete, data: { confirm: "Are you sure?" }, class:"ui button blue" %>
<%= link_to  "Back", artist_songs_path(@artist), class:"ui button blue" %>

