<h1><%= @song.song_name %></h1>

<% if @song.board.name == "No-list" %>
  <h2><%= "Currently not on any billboards" %></h2>
  <% else%>
<h2>Currently on <%=@song.board.name %></h2>
<% end%>
<%= link_to  "Edit Song", edit_artist_song_path(@artist, @song), class:"ui button green" %>
<%= link_to  "Delete Song", artist_song_path(@artist, @song),method: :delete, data: { confirm: "Are you sure?" }, class:"ui button red" %>
<%= link_to  "Back", artist_songs_path(@artist), class:"ui button blue" %>

