<h1 class="ui horizontal divider header">
    <i class="music note icon"></i>
    <%= @board.name %>
  </h1>
<br />
<br />
<% index = 0%>
<% @board.songs.each do %>

<div class="ui ordered list">
  <p>
    <%= "#{index + 1})"%>&nbsp &nbsp <%= @board.songs[index].song_name %> | <%= @board.songs[index].artist.artist_name %><br />
  </p>

</div>


  <% index += 1 %>
<% end%>
<br />
<br />
<br />
<%= link_to "Back", boards_path, class: "ui button blue" %>
<%= link_to  "Edit Billboard", edit_board_path(@board), class: "ui button green" %>
<%= link_to  "Delete Billboard", board_path(@board), method: :delete, data: { confirm: "Are you sure?"}, class:"ui button red" %>