<div class="ui menu">
    <div class="header item">
      <%= link_to  "Billboard Application", root_path, class:"header", style:
      "color: black" %>
    </div>
    <%= link_to  "Artists", artists_path, class:"item" %>
    <%= link_to  "Billboards", boards_path, class:"item" %>
    <%= link_to  "Add Artist", new_artist_path, class:"item align-right" %>
    <div class="right menu">
      <% if current_user%>
      <h5 style="padding-top: 12px;"><%= "#{current_user.first_name} is active" %> &nbsp &nbsp &nbsp &nbsp</h5>
      <% end%>
      <%= link_to "Log Out", destroy_user_session_path, method: :delete, class:"item align-right" %>
    </div>
  </div>